<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    <style>
        body {
            font-family: Helvetica;
        }

        h1 {
            font-size: 50px;
            margin: 7% 0% 1% 0%;
        }

        h3 {
            font-size: 25px;
            margin: 0% 0% 7% 0%;
        }

        button {
            width: 70%;
            text-align: center;
            border: none;
            background-color: #E0E0E0;
            transition-duration: 0.4s;
        }

        button:hover {
            background-color: #F5F5F5;
        }
    </style>

    <body>
        <div style="justify-content: center; text-align: center;">

            <h1>{{report_name}}</h1>
            <h3>Report</h3>
            <div id="menu-div">
                {% for pair in similarity_list %}
                <button style="padding:10px; margin-bottom: 5px;"
                    onclick="window.location.href=&quot;{{pair.path}}&quot;">
                    <div style="display: inline-block;">{{pair.name_A}}<br><br>{{pair.name_B}}</div>
                    <div style="display: inline-block; padding-left: 150px;">{{pair.value}}<br>&nbsp;</div>
                </button>
                {% endfor %}
            </div>
        </div>
    </body>

</html>